 body{
    
   
    margin:0;
    align-items:center;
    justify-content:center;
    
}

.bruh{
    position:relative;
    width:300px;
}
.bruh input{
    width:100%;
    padding:10px 40px 10px 20px;
    border-radius:30px;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
    outline:none;
    border:none;
    font-weight:500;
    transition:0.8s;
    background:black;
    color:white
}
.bruh i{
    position:absolute;
    top:20%;
    right:20px;
    transform:translateY(-50%);
    color:white;
    cursor:pointer;
}
.box{
    display:flex;
    cursor:pointer;
    height:30px;
    justify-content: flex-end;
    
    padding-top:20px;
    width:100%;
    
}

.box input{
    height:40px;
    display:flex;
    border-radius:30px;
    background: black;
    box-shadow:0 10px 25px rgba(0, 0, 0, 0.3);
    width:180px;
    outline:none;
    border:none;
    font-weight:500;
    transition:0.8s;
    
    
}

.box:hover input{
    width:250px;
    padding-left:30px;
}
.box:hover .fas{
    margin-right:-10px;
    transition:0.8s;
    
}

.box button .fas{
   
    font-size: 18px;
    transition:0.8s;
    margin-right:110px;
}